doctype html

html
  head
    block head
      title= title
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css' integrity='sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==' crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js' integrity='sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==' crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js' integrity='sha512-iceXjjbmB2rwoX93Ka6HAHP+B76IY1z0o3h+N1PeDtRSsyeetU3/0QKJqGyPJcX63zysNehggFwMC/bi7dvMig==' crossorigin='anonymous')
  body(class='bg-light')
    block navbar
      nav(class='navbar navbar-expand-lg navbar-dark bg-dark mb-3')
        block navbar-brand
          a(class='navbar-brand') BookBase
        block navbar-toggler
          button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#nav-items' aria-controls='nav-items' aria-expanded='false' aria-label='Toggle navigation')
            span(class='navbar-toggler-icon')
        div(class='collapse navbar-collapse' id='nav-items')
          ul(class='navbar-nav mr-auto mt-2 mt-lg-0')
            block nav-items
              block shop
                li(class='nav-item')
                  a(class='nav-link' href='/') Shop
                if user
                  if user.isSeller
                    a(class='nav-link' href='/books/manage') Manage my books
          block userInfo
            if user
              if user.isSeller
                p(class='nav navbar-text mr-2') Logged in as Seller #{user.username} (#{user.email})
              else
                p(class='nav navbar-text mr-2') Logged in as Customer #{user.username} (#{user.email})
          block search
            form(class='form-inline my-2 my-lg-0')
              input(class='form-control mr-sm-2 bg-light' type='search' placeholder='Search' aria-label='Search')
              button(class='btn btn-secondary my-2 my-sm-0' type='submit') Search
          block account
            div(class='btn-group')
              button(class='btn btn-secondary btn-md ml-2 dropdown-toggle' type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Account
              div(class='dropdown-menu bg-light')
                block register
                  a(class='dropdown-item' href='/register') Register
                block login
                  a(class='dropdown-item' href='/login') Login
                block logout
                  form(role='form' method='post' action='/logout')
                    input(class='dropdown-item' type='submit' value='Logout')
    div(class='container')
      block content
