extends ../layout

block content
  .row
    .col-md-6.mx-auto
      form(role='form' method='post' action='/customers/update-my-account?_method=PUT' enctype='form-data')
        fieldset
          p.text-uppercase.pull-center Edit your account details
          .form-group
            input.form-control.input-lg(type='text' name='username' placeholder='Username' value=account.username required)
          .form-group
            input.form-control.input-lg(type='text' name='firstName' placeholder='First name' value=account.firstName)
          .form-group
            input.form-control.input-lg(type='text' name='lastName' placeholder='Last name' value=account.lastName)
          .form-group
            input.form-control.input-lg(type='email' name='email' placeholder='E-Mail Address' value=account.email required)
          .form-group
            input.form-control.input-lg(type='email' name='confirmEmail' placeholder='Confirm E-Mail Address' value=account.email required)
          .form-group
            input.form-control.input-lg(type='text' name='zip' placeholder='Zip code' value=account.zip)
          .form-group
            input.form-control.input-lg(type='text' name='city' placeholder='City' value=account.city)
          .form-group
            input.form-control.input-lg(type='text' name='address' placeholder='Address' value=account.address)
          div(class='mt-3')
            input.btn.btn-primary(type='submit' value='Save')
    .col-md-6.mx-auto
      form(role='form' method='post' action='/customers/change-my-password?_method=PUT' enctype='form-data')
        fieldset
          p.text-uppercase.pull-center Change your password
          .form-group
            input.form-control.input-lg(type='password' name='password' placeholder='Password' required)
          .form-group
            input.form-control.input-lg(type='password' name='confirmPassword' placeholder='Confirm Password' required)
          div(class='mt-3')
            input.btn.btn-primary(type='submit' value='Save')
  .row
    .col-md-12.mx-auto.mt-3
      form(role='form' method='post' action=`/customers/delete-my-account?_method=DELETE` enctype='form-data')
        input.btn.btn-danger(type='submit' value='Delete my account')
